/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(220 220,220);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(100, 100,100);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background-color: rgb(220 220,220);
}

.myWeek2{
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background-color: rgb(220 220,220);
}


/* Set the apperance of the class, chart */
.chart{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:40%;
    background-color: "white";
    width: 370px;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: #435a7e;

}

/* Set the appearance of week 2 charts */
.week2chart{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:40%;
    background-color: "white";
    width: 370px;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: #435a7e;

}
    
    
